body {
    background-image: url(backimage.jpg);;

}
.linkovi{
    /* border: 1px solid black; */
    border-radius: 5%;
    background-color: rgba(224, 12, 12, 0.418);
    color: rgb(38, 109, 68);
    text-decoration: none;
    text-align: center;
    padding: 15px;
}
.logo>a{
    color: rgba(224, 12, 12, 0.623) ;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 25px;
    
}

@media(min-width:576px){
    body{
        background-image: url(backimage.jpg) ;
        background-size: cover;
    }
    nav{
        display: flex;
        justify-content: end;
    }
    nav div{
        margin-left: 50px;
    }

a:link {
    color: ;
    background-color: ;
}
a:visited {
color: ;
background-color: ;
}
a:hover {
    color: ;
    background-color: ;
}
a:active {
    color: ;
    background-color: ;
}