body {
    background-color: rosybrown;

}
.linkovi{
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgb(172, 77, 77);
    color: rgb(38, 109, 68);
    text-decoration: none;
    text-align: center;
    padding: 15px;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 25px;
    
}

@media(min-width:576px){
    nav{
        display: flex;
        justify-content: end;
    }
    nav div{
        margin-left: 50px;
    }
    
a:link {
    color: ;
    background-color: ;
}
a:visited {
color: ;
background-color: ;
}
a:hover {
    color: ;
    background-color: ;
}
a:active {
    color: ;
    background-color: ;
}